<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->

<!-- 
<button (click)="share()">
  Share Button
</button> -->




<section>
  <h4 class="page-header d-flex w-100 justify-content-between text-left">
    Covid Vaccine Notifier
    <a style="color:#fff;font-size: 1rem;text-align: right;
    line-height: 1.5;" href="https://www.cowin.gov.in/" target="_blank">Book An Appointment</a>
  </h4>

</section>

<section>
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <form #f="ngForm" (ngSubmit)="f.form.valid && getData()" novalidate>
          <div class="row">


            <div class="col-md-6">
              <label for="pincode">Enter Pincode </label>
              <small style="color:red">&nbsp;(You can enter multiple pincode separated by ' , '. Eg. 411028,411015)
              </small>
              <input class="form-control" type="text" name="pincode" id="pincode" pattern="[0-9,]*"
                [(ngModel)]="pincodes" #pin="ngModel" required aria-placeholder="Enter Pincode" placeholder="Eg.411028">

              <div *ngIf="f.submitted && pin.invalid" class="error">
                <span *ngIf="pin.errors.required">Please enter pincode</span>
                <span *ngIf="pin.errors.pattern">Characters not allowed</span>
              </div>
            </div>

          </div>
          <!-- {{pincodes}} -->
          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">


              <p>
                <audio class="d-block" id="audio" #audioPlayerRef controls muted="muted">
                  <source src='../assets/notification.mp3' type="audio/mp3">
                </audio>
                <button id="playbtn" #playBtn (click)="play()">Play File</button>
              </p>
              <p>
                <small style="color:green">&nbsp;(If slot available it will ring. You can mute the ring aswell)
                </small>
              </p>

            </div>
          </div>
        </form>

      </div>

    </div>
  </div>


</section>

<main class="pincodewise-data" class="col-md-12 mx-auto">

  <div *ngFor="let center of filterArray;  let p = index" class="data-row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="center-details">
            <div class="row hospital-details  w-100">
              <h6>{{p+1}}.</h6>
              <h6> {{center.name}}</h6> &nbsp;
              <h6> -{{center.pincode}}</h6>
            </div>

            <p>{{center.address}}</p>


            <p>{{center.block_name}}</p>
            <p>{{center.district_name}}</p>

          </div>
        </div>

        <div class="col-md-9 col-sm-12">
          <div class="sessions-details">

            <div *ngFor="let vaccine of center.vaccine_fees else no-data">
              <h6 class="vaccine-detail">
                {{vaccine.vaccine }} - Rs. {{vaccine.fee}}

              </h6>
            </div>
            <h6>
              <span class="fee-type">
                Fee Type : {{center.fee_type}}
              </span>
            </h6>
            <div class="d-flex flex-wrap" style="gap: 10px;">
              <div *ngFor="let session of center.sessions">
                <div *ngIf='session.available_capacity>0 ' class="slots col-md-12">
                  <h6 class="dose-date">
                    <span> Date : {{session.date}}</span>
                  </h6>
                  <p class="vaccine-name">Vaccine Name : {{session.vaccine}}</p>
                  <p class="age-limit">Age-Limit : {{session.min_age_limit}} Yrs</p>

                  <div class="flex-wrap dose-details">

                    <p class="capacity">Total-Capacity : {{session.available_capacity}}</p>
                    <p class="dose1">Dose-1 : {{session.available_capacity_dose1}}</p>
                    <p class="dose2">Dose-2 : {{session.available_capacity_dose2}}</p>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>



      </div>

    </div>

  </div>

  <div *ngIf="filterArray?.length==0 && pincodes!=''">
    <div class="no-data">
      Currently vaccines are not available for this pincode. Please check other nearest pincodes.
    </div>

  </div>
</main>